* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dash-nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    padding: 2% 4%;
    display: flex;
    box-shadow: 0px 8px 16px 6px rgba(236, 236, 236, 0.2);
    z-index: 1;
}

#dash-nav img {
    padding: 0 30px;
    cursor: pointer;
}

.userName {
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto 0;
}

.userIcons {
    display: flex;
    margin: auto 0;
    margin-left: auto;
}

.userIcons a i {
    font-size: 1.3rem;
    padding: 0 2rem;
    color: #555;
    cursor: pointer;
}

.userIcons a i:hover {
    color: #53FF6E;
}

/* My Car section */
#dash-myCar {
    padding: 9% 4% 0;
}

.mycar-top-content {
    display: flex;
}

.mycar-top-title {
    font-size: 2rem;
    font-weight: 600;
}

.mycar-btn {
    background-color: #000;
    color: #fff;
    margin-left: auto;
}

.mycar-btn:hover {
    background-color: #444;
}

.mycar-btn2 {
    background-color: #53FF6E;
    color: #000;
    margin-left: 1%;
    padding: 10px 20px;
}

.mycar-btn2:hover {
    background-color: #09e62a;
}

.dash-mycar-details {
    margin: 2% 0;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.dash-mycar-details .car-name {
    margin: auto 0;
    font-size: 1.5rem;
}

.dash-mycar-details button {
    padding: 10px 30px;
    background-color: #53FF6E;
}

/* Dashboard Modal */
.transaprent-modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    padding: 50px;
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1000ms ease-out;
}

.modal-container {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 85vh;
    margin: auto;
    text-align: center;
    overflow-y: scroll;
    padding: 50px;
    transition: all 500ms ease-in-out;
}

.scroller {
    scrollbar-width: none;
    scrollbar-color: #eee #fff;
}

.scroller::-webkit-scrollbar {
    width: 8px;
    background: #fff;
    border-radius: 0 50px 50px 0;
}

.scroller::-webkit-scrollbar-thumb {
    width: 8px;
    background: #eee;
}

.modal-close {
    margin: -1rem 0rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    right: 15rem;
    transition: all 300ms ease-in-out;
}

.modal-close:hover {
    font-size: 2rem;
    cursor: pointer;
    color: #555;
}

.modal-container .car-name {
    font-size: 2.5rem;
    font-weight: 600;
    color: #545454;
}

.modal-container img {
    width: 300px;
    padding: 20px;
}

.element1 .type1, .element2 .type2, .element3 .type3, .element4 .type1, .element5 .type2 {
    font-weight: 600;
}

.modal-divider {
    background-color: #000;
    color: #000;
    height: 1px;
    margin: 2rem auto;
    width: 80%;
}

.modal-footer {
    text-align: center;
    margin: auto;
    display: block;
    margin: 2rem;
}

/* Add Car Type Modal */
.car-transparent-bg {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.addCar-modal   {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 6rem auto;
    background-color: #ebebeb;
    padding: 50px;
    border-radius: 5px;
}

.addCar-modal select {
    padding: 10px 20px;
    margin-bottom: 40px;
}

.car-type-btn   {
    margin-top: 1rem;
    width: 150px;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

.car-type-clsBtn    {
    color: #fff;
    font-size: 2rem;
    position: fixed;
    top: 2rem;
    left: 80rem;
    cursor: pointer;
}

/* History Section */
#dash-history {
    padding: 2% 4%;
}

.history-top-title {
    font-size: 2rem;
    font-weight: 600;
}

.history-main-contents {
    margin: 2% 0;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    padding: 1.2rem 2rem;
}

.history-btn {
    background-color: transparent;
    border: 1px solid #000;
    padding: 10px 20px;
    margin: 1% 0 0;
}

.select-box {
    display: flex;
    width: 150px;
    flex-direction: column;
}

.selected {
    background: transparent;
    border: 1px solid #555;
    border-radius: 5px;
    position: relative;
    order: 0;
    margin-bottom: 10px;
}

.selected i {
    display: none;
}

.select-box .options-container {
    background: #eee;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;
    order: 1;
}

.select-box .options-container.active {
    max-height: 200px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected i {
    transform: rotateX(180deg);
    top: 17px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 0;
    scrollbar-width: 1px;
    border-radius: 0 5px 5px 0;
}

.select-box .options-container {
    scrollbar-width: none;
    scrollbar-color: #eee #fff;
}

.select-box .option, .selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #ddd;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.htry-btry-change {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    margin: 4% 0;
}

.htry-oil-change {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    margin: 4% 0;
}

.htry-body-repair {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    margin: 4% 0;
}

/* The hidden box */
.htry-btry-change i {
    cursor: pointer;
    transition: all 00ms ease-in-out;
}

.htry-btry-change i.collapsible-icon-close {
    cursor: pointer;
    transition: all 00ms ease-in-out;
    display: none;
}

.battery-change-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 10px #ddd;
    position: relative;
    top: -3rem;
    display: none;
}

.battery-change-box .btc-box-date {
    color: #aaa;
}

.battery-change-box .done-transaction-box {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.battery-change-box h5.done-transaction {
    font-weight: 600;
}

.battery-change-box .product h5.product-name {
    font-weight: 600;
}

.battery-change-box .product {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.battery-change-box .status {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.transaction-status {
    margin: auto 0;
    font-weight: 600;
}

/* Recommendations */
#dash-recommendations {
    padding: 2% 4%;
}

.recom-top-content-title {
    font-size: 2rem;
    font-weight: 600;
}

.recom-main-contents {
    margin: 2% 0;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    padding: 1.2rem 2rem;
}

.recom-btry-change {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.recom-oil-change {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.recom-ac-service {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.recom-tyre-change {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.recom-main-contents button {
    background-color: #53FF6E;
    padding: 10px 30px;
}

/* Recommendation modal */
.dash-recommendation-modal {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100%;
    padding: 50px;
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
}

.dash-recommendation-modal-container {
    background-color: #fff;
    padding: 40px;
    margin: 2rem;
    position: relative;
    top: 4rem;
    border-radius: 5px;
}

.recom-modal-close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.recom-product {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.product-recommended {
    font-size: 1.5rem;
    margin: auto 0;
}

.recom-divider {
    border-bottom: 1px solid #eee;
}

/* Car parts */
#dash-carParts {
    padding: 2% 4%;
}

.carparts-top-content-title {
    font-size: 2rem;
    font-weight: 600;
}

.carparts-main-contents {
    margin: 2% 0;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    padding: 1.2rem 2rem;
}

.carparts-btry {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.carparts-btry span {
    position: absolute;
    left: 21rem;
    background-color: red;
    padding: 0.2rem 1rem;
    color: #fff;
}

.carparts-tyres {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.carparts-bumper {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.battry-detail-btn, .oil-detail-btn, .bumper-detail-btn {
    background-color: #53FF6E;
    padding: 10px 30px;
}

/* Car Parts Details */
.carPart-container {
    background-color: #fff;
    padding: 50px;
    position: relative;
    top: -1rem;
    display: none;
    box-shadow: 0 10px 10px 2px rgba(170, 170, 170, 0.2);
}

.product1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product-name, .product-type, .product-amount {
    font-weight: 600;
}

.product-details-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    margin: 5rem 0 0 58.5rem;
}

.closeDetail-btn {
    background-color: #f00;
    color: #fff;
    padding: 10px 10px;
    width: 100px;
    display: none;
}

/* Due Services */
#dash-dueServices {
    padding: 2% 4%;
}

.dueservice-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.dueservice-duedate-content {
    border: 1px solid #9d9d9d;
    max-width: 100%;
    border-radius: 10px;
    padding: 2rem 2rem;
    text-align: center;
}

.day-remain h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.countdown {
    display: flex;
    justify-content: space-around;
}

.day, .hour, .minute, .seconds {
    font-size: 3rem;
}

/* Other Services */
.dash-other-services {
    border: 1px solid #9d9d9d;
    max-width: 100%;
    margin: 2rem 0;
    border-radius: 10px;
    padding: 3% 5%;
}

.dash-other-services-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.dash-paper-renewal {
    margin: 5% 0;
}

.paper-renewal-title {
    font-weight: 600;
    font-size: 1rem;
}

.d-p-renewal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    /* box-shadow: 0px 8px 16px 6px rgba(126, 126, 126, 0.2); */
    padding: 10px 20px;
    margin: 3% 0;
}

.d-p-renewal-title {
    margin: auto 0;
}

.renewal-date {
    color: #888;
    margin: auto 0;
}

/* Car Tyres */

.dash-car-tyres {
    margin: 5% 0;
}

.dash-car-tyres-title {
    font-weight: 600;
    font-size: 1rem;
}

.dash-car-tyres-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    /* box-shadow: 0px 8px 16px 6px rgba(126, 126, 126, 0.2); */
    padding: 10px 20px;
    margin: 3% 0;
}

.dash-car-tyres-title2 {
    margin: auto 0;
}

.renewal-date {
    color: #888;
    margin: auto 0;
}

/* Break Pad */
.dash-break-pad {
    margin: 5% 0;
}

.dash-break-pad-title {
    font-weight: 600;
    font-size: 1rem;
}

.dash-break-pad-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    /* box-shadow: 0px 8px 16px 6px rgba(126, 126, 126, 0.2); */
    padding: 10px 20px;
    margin: 3% 0;
}

.dash-break-pad-title2 {
    margin: auto 0;
}

.renewal-date {
    color: #888;
    margin: auto 0;
}

.dash-other-services button {
    margin: auto;
    color: #fff;
    background-color: #000;
    width: 200px;
    padding: 10px;
}

.dash-other-services button:hover {
    background-color: #222;
}

/* Footer */
#dash-footer {
    background-color: #ebebeb;
    padding: 1% 5%;
}

.dash-footer-copyrights {
    text-align: center;
}

#dash-footer footer p {
    margin: auto;
    color: #777;
}



/**************************************** User Dashboard Page **************************************/
#profile-main-content {
    padding: 10rem;
    display: flex;
}

.profile-side-menu {
    background-color: #fff;
    padding: 12.5rem 5rem 0 10rem;
    display: block;
    margin-right: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.profile-side-menu a {
    color: #000;
    display: block;
    padding: 1rem 0;
    margin: 2rem;
}

.profile-side-menu a:hover {
    text-decoration: none;
    background-color: #DAFFE0;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
}

.profile-side-menu a.active {
    text-decoration: none;
    background-color: #DAFFE0;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    font-weight: 600;
}

/*********************************** User Info **************************/
.user-personal-informations {
    margin: 1rem 0;
    display: block;
}

.profile-personal-info {
    margin-left: 20rem;
}

.user-info  {
    display: flex;
}

.user-profile-name  {
    font-size: 1.3rem;
    position: relative;
    left: 1rem;
    font-weight: 600;
}

.user-profile-desc  {
    font-size: 0.9rem;
    position: absolute;
    top: 12.5rem;
    left: 34.2rem;
    color: #BEBEBE;
    font-weight: 600;
}


.user-personal-informations h4.user-p-i-title   {
    font-weight: 600;
    margin: 4rem 0 2rem;
}

.user-personal-informations form{
    display: flex;
}

.user-personal-informations form label{
    display: block;
}

form input {
    padding: 8px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    width: 270px;
}

form .fullname-form {
    margin-right: 5rem;
}

p.email-notification    {
    color: #888;
    font-weight: 600;
    padding: 10px 4px;
}

p.email-notification span    {
    color: #09e62a;
}

form .number-form   {
    margin-right: 5rem;
}

.profile-edit-btn   {
    margin: 2rem 0 0 29.5rem;
    width: 150px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}


/**************** Security Section **************************/
.security-section   {
    padding: 5rem 0;
    display: none;
}

.security-section .change-pass   {
    margin-right: 2rem;
    padding: 10px;
    width: 15rem;
    background-color: #C4C4C4;
}

.security-section .change-pass:hover {
    background-color: #000;
    color: #fff;
}

.security-section .two-factor    {
    margin-right: 2rem;
    padding: 10px;
    width: 15rem;
    background-color: transparent;
    border: 1px solid #000;
}

.security-section .two-factor:hover {
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
}


/************************ Messages ********************************/
.message-section    {
    margin-top: 4rem;
    display: none;
}

.firstClosed-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
}

.firstClosed-msg p.closed-msg {
    margin: auto 0;
}

.firstOpen-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
    display: none;
}

.firstOpen-msg p.opened-msg, .secondClosed-msg p.closed-unread-msg, .thirdClosed-msg p.read-msg {
    margin: auto 0;
}

.date-and-time  {
    color: #CCCCCC;
    font-size: 0.9rem;
    display: flex;
    justify-content: end;
    margin: 0.7rem 0 1rem;
}

.date   {
    margin-right: 1rem;
}

/* Second Message */
.unread-label   {
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    position: absolute;
    left: 72rem;
    top: 20.7rem;
}

.secondClosed-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
}

.secondOpen-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
    display: none;
}

.secondOpen-msg p.opened-msg {
    margin: auto 0;
}

/* Third Message */
.thirdClosed-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
}

.thirdOpen-msg  {
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 5px;
    color: #5E5E5E;
    font-weight: 600;
    display: none;
}


/******************************** Settings section ***********************/
.settings-section   {
    margin-top: 5rem;
    display: none;
}

.notification-settings, .account-settings, .language-settings, .theme-settings  {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    width: 45rem;
}

.notification-settings p, .account-settings p, .language-settings p, .theme-settings p  {
    margin: auto 0;
}

.settings-section i {
    position: absolute;
    left: 74rem;
}

.delete-btn {
    background-color: red;
    color: #fff;
    width: 200px;
}


/* Cart Page */
.cart-title {
    padding: 5rem 3rem 1rem;
}

.order-details  {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}

.order-details-left {
    border: 1px solid #D9D9D9;
    padding: 0;
    width: 700px;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.order-table-title  {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 10px 30px;
}

.order-service, .order-price {
    margin: auto 0;
}

.order-product  {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0;
    font-size: 1.5rem;
}

.order-product i {
    margin: auto 0;
    cursor: pointer;
}

.order-divider  {
    width: 550px;
    margin: auto;
}

.order-btns {
    display: flex;
    justify-content: space-between;
    padding: 5rem 1.5rem 0;
    margin-bottom: 2rem;
}

.order-btns .continue-shopping  {
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
}

.order-btns .empty-cart {
    background-color: transparent;
    color: #000;
    padding: 10px 40px;
    border: 1px solid #000;
}

/* Order Summary */
.order-summary  {
    background-color: #53FF6E;
    padding: 20px 50px;
    margin: 0 30px;
    width: 400px;
    border-radius: 5px;
    position: fixed;
    right: 2rem;
    top: 8rem;
}

.order-summary-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.product-summary    {
    display: flex;
    justify-content: space-between;
}

hr.order-summary-divider {
    width: 300px;
}

.total-due  {
    margin: 1rem 0 0;
    font-size: 1rem;
    font-weight: 600;
}

.total-price    {
    font-size: 3rem;
}

.order-summary .btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 300px;
    margin: 0 0 1rem;
}

/* Billing Details */
.billing-details    {
    padding: 2rem 6rem;
}

.billing-details-title  {
    margin-bottom: 2rem;
}

/* Checkout */
.checkout-billing-details   {
    padding: 0 2rem 1rem;
}

.total-amount-order {
    margin: 2rem 0;
    text-align: center;
}

.order-summary button.paystack {
    background-color: #0077BA;
}

.order-summary button.paga {
    background-color: #b0e2ff;
    color: #000;
}

.order-summary button.paystack {
    background-color: #0077BA;
}

.order-summary button.transfer {
    background-color: #e0e0e0;
    color: #000;
}


/********************************************* Dash Side Nav *********************************************/
.new-dash-nav   {
    display: block;
}

.dash-side-navigation   {
    background-color: #53ff6e;
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px 0;
    z-index: 10;
    text-align: center;
}

.dash-side-navigation i.close-nav {
    position: fixed;
    left: 24rem;
    top: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.dash-side-navigation a img {
    width: 150px;
    margin-top: 3rem;
    
}

.dash-side-navigation .userName {
    font-size: 1.2rem;
    padding: 20px 0 50px;
}

.dash-side-navigation .dash-side-link {
    display: block;
    text-align: left;
    padding: 20px 100px;
    color: #000;
    font-size: 1.1rem;
}

.dash-side-navigation .dash-side-link:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}